@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";
.tot
{
	background-color:black;
	color:white;
}
.timetr
{
	background-image:url("Body_bg.jpeg");
}
.contact
{
	background-image:url("cont.png");
}
.par
{
	font-size:29px;
line-height:1.5;
}
image1,image2,image3 {
display: block;
margin: auto;
border-radius: 100%;
border: 3px solid white;
}
figcaption
{
	color:white; font-size:20px;
}
h1
{
	color:white;
}
p
{
	color:white;	
	font-size:25px;
}
.cont
{
	font-size:21px;
	padding-left:40px;
	padding-top:40px;
	padding-right:40px;
	padding-bottom:20px;
	border:5px outset white;
	width:400px;
	
}
.button {
  background-color: DodgerBlue;
  border:none;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.first{
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}
*{
  padding:0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
nav{
  background: #20262E;
  height: 80px;
  width: 100%;
}
.logo{
  color:#FFFBF5;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

li, a{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
nav ul{
  float:right;
  margin-right: 20px;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0 5px;
}
nav ul li a{
  color: black;
  background-color:#BAD7E9;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 0 5px #BAD7E9,0 0 25px #BAD7E9;
}
h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.earth{
  padding-top: 0;
  padding-left: 120px;
  width:45%;
}
.time{
  padding-top: 10px;
  display: block;
  padding-left: 527px;
}
.para1{
  padding-top: 20px;
  width:45%;
}
.container{
  display:flex;
  justify-content: space-space-between;
}
p{
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
.head{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.para{
  padding-top: 30px;
  text-align: center;
  font-size: 17px;

}
.about{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background-color:black;	
}



.pavan{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  float: left;
  width: 50%;
}
.manoj{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  float: right;
  width: 50%;
}
.bitmoji{
  padding-left: 50px;
  float: left;
  width: 50%;
}
.tags{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 80px;
  background-color: #F7F7F7;
  color:black;

  float: right;
  width: 50%;
}
.whole{
  background-color:#20262E;
  color: white;
}
